/*Fonts*/
$raleway: "Raleway", sans-serif; //main font
$notoSansDisplay: "Noto Sans Display", sans-serif; //headings font

/*Colors*/
$desertSand: #DDBEA9;
$balck: #000;
$white: #fff;
$champaign: #FFE8D6;
$antique: #CB997E;
$ash: #B7B7A4;